POSTGRES_USER=wallet_admin
POSTGRES_PASSWORD=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_DEMO_USER_PASSWORD=
AUTH_KEYCLOAK_CLIENT_ID=be-auth-api
AUTH_KEYCLOAK_KEY_ID=be-auth-api-key-1
AUTH_KEYCLOAK_ASSERTION_TTL=PT30S
AUTH_CACHE_TTL=PT2M
